*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f5;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-size: 1rem;
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

.header__primary-heading {
  max-width: 5em;
  padding: .2em;
  line-height: 16rem;
  letter-spacing: -.1rem;
  font-size: 17rem;
  font-family: anton;
  text-transform: uppercase;
  background: url("/Images/MainLogo2.jpg");
  background-position: -20px;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.secondary-heading {
  font-size: 4rem;
  font-family: anton;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2rem;
}

.card-text {
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  .header__primary-heading {
    font-size: 15rem;
    line-height: 14rem;
  }
}

@media (max-width: 700px) {
  .header__img {
    display: none;
  }
}

@media (max-width: 400px) {
  .header__primary-heading {
    font-size: 12rem;
    line-height: 11rem;
    background: url(/Images/MainLogo2.jpg);
    background-position: -30px;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.u-margin-top-big {
  margin-top: 6em !important;
}

.u-margin-top-medium {
  margin-top: 4em !important;
}

.u-margin-top-small {
  margin-top: 2em !important;
}

.u-margin-bottom-big {
  margin-bottom: 6em !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4em !important;
}

.u-margin-bottom-small {
  margin-bottom: 2em !important;
}

.u-center-text {
  text-align: center !important;
}

.flex-container {
  width: 100%;
  max-width: 130em;
  margin: 0 auto;
  border: solid greenyellow;
}

.text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section {
  max-width: 110em;
  margin: 10em auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2rem;
  padding: 2em;
  background-color: white;
  position: relative;
}

.section__head {
  font-size: 4rem;
  padding: .2em;
  text-transform: uppercase;
  margin-bottom: 1em;
  position: relative;
  z-index: 10;
  line-height: 2rem;
}

.section__head::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #FEE715FF;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section__head:hover::after {
  width: 110%;
}

.section__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__profile-pic {
  max-width: 40em;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 2rem;
  margin-left: 1.5em;
}

.section__profile-text {
  width: 80%;
  font-size: 1.5rem;
  line-height: 1.4em;
  margin: .5em 2em;
}

.section__profile__header {
  width: 80%;
  margin: .5em 0 .5em .5em;
}

@media (max-width: 850px) {
  .section__video__container {
    height: 65em;
  }
}

@media (max-width: 450px) {
  .section__video__container {
    height: 55em;
  }
}

@media (max-width: 768px) {
  .section__profile__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__profile-pic {
    min-width: 80%;
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
    margin: 0;
  }
  .section__profile__header {
    width: 70%;
    margin: .5em 0;
  }
  .section__profile-text {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .section__profile__container {
    overflow: scroll;
  }
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Exo';
  padding: 1.5rem 5rem;
  color: #FEE715FF;
}

.btn__booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 80%;
  width: 33%;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen {
  cursor: pointer;
  width: 70%;
  margin: 0 auto;
  background-color: #000 !important;
  border-radius: 1em 1em 0 0;
  padding: 1em;
}

.controls {
  width: 70%;
  background-color: #333;
  color: #ffffff;
  border-radius: 0 0 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.controls__btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: .5em;
}

.controls__btn:focus {
  outline: 0;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #ffffff;
}

.controls .timestamp {
  color: #ffffff;
  font-weight: bold;
  margin-left: 1em;
}

.thumbNails {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (minmax(17em, 12.5em))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17em, 12.5em));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 80%;
  height: 15em;
  margin: 5em auto;
  border-radius: 1em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.thumbNail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
}

.thumbNamilScreen {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.thumbNail-container:hover {
  cursor: pointer;
}

.thumbNail-container:hover .thumbnail-play {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #FEE715FF;
  z-index: 5;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.thumbnail-play {
  position: absolute;
  bottom: -30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #FEE715FF;
  z-index: 10;
  opacity: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
  .thumbNails {
    margin: 2em auto;
    height: 12em;
  }
}

.section__audio__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31em, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  position: relative;
}

.card {
  height: 18em;
  width: 25em;
  display: block;
  margin: 8em 0;
  position: relative;
  border-radius: 1em;
}

.card__bottom {
  height: 18em;
  width: 24em;
  position: absolute;
  top: 0;
  left: .5em;
  background-color: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 1em 1em 20em 20em;
}

.card__top {
  height: 18em;
  width: 25em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2d3033;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card__top-thumbnail {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card__button {
  border: transparent;
  background: transparent;
  cursor: pointer;
  margin-bottom: .5em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.card__button i {
  margin-bottom: .15em;
  font-size: 2rem;
}

.card__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #FEE715FF;
}

.card__button:hover i {
  color: color-primary;
  font-size: 2.1rem;
}

.card__img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 1em;
}

.whiteCircle {
  position: relative;
  top: -.25em;
  height: 50%;
  width: 40%;
  border-radius: 100%;
  background-color: whitesmoke;
}

.card:hover .card__bottom {
  position: absolute;
  top: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover .card__top {
  position: absolute;
  top: -10rem;
  border-radius: 1em 1em 0 0;
}

.section__audio2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music-container {
  border: solid 1px;
  width: 40%;
  background-color: black;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 1em 1em 0 rgba(1, 1, 1, 0.5);
          box-shadow: 0 1em 1em 0 rgba(1, 1, 1, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 3em;
  position: relative;
  margin: 10em auto;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 11em;
}

.img-container::after {
  content: '';
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 1em;
  height: 1em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-container img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
  width: inherit;
  position: absolute;
  bottom: -1em;
  left: 0;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.music-container.play .img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.audio-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  margin: 0 auto;
}

.action-btn {
  background-color: black;
  border: none;
  padding: .5em;
  margin: 0 .5em;
  font-size: 2rem;
  color: #FEE715FF;
  outline: none;
  cursor: pointer;
}

.action-btn.action-btn-big {
  font-size: 3rem;
}

.music-info {
  background-color: #313131;
  color: #FEE715FF;
  border-radius: 1.5em 1.5em 0 0;
  position: absolute;
  top: 0;
  left: 1em;
  width: calc(100% - 4em);
  height: 4em;
  padding: 1em;
  opacity: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  z-index: 0;
}

.music-info #title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.music-container.play .music-info {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.progress-container {
  background: #ffffff;
  border-radius: .5em;
  cursor: pointer;
  margin: 1em auto;
  height: .4em;
  width: 65%;
  position: absolute;
  right: 1em;
  top: 3em;
}

.audioProgress {
  background-color: #FEE715FF;
  border-radius: .5em;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#2B2C42), to(#000000));
  background-image: linear-gradient(to left, #2B2C42, #000000);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header__main {
  max-width: 150em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
  color: white;
}

.header__logoBox {
  width: 100vw;
  border: solid white 5px;
  overflow: visible;
  margin: 2em;
}

.header__img {
  width: 50%;
  height: 80em;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
  position: absolute;
  right: 2em;
}

.respon__header__logoBox {
  border: solid #ffffff 0.75em;
}

.respon__header__logoBox .header__primary-heading {
  font-size: 13rem;
  line-height: .9;
}

@media (max-width: 320px) {
  .header {
    margin: auto;
    background-size: contain;
  }
  .header__logoBox {
    margin: 0 1em;
  }
  h1.header__primary-heading {
    font-size: 9.2rem;
    line-height: .9;
  }
}

@media (max-width: 600px) {
  .respon__header__logoBox {
    border: solid #ffffff 0.75em;
  }
  .respon__header__logoBox .header__primary-heading {
    font-size: 10rem;
    line-height: .9;
  }
}

@media (max-width: 460px) {
  .respon__header__logoBox {
    border: none;
  }
  .respon__header__logoBox .header__primary-heading {
    display: none;
  }
}

.navigation {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 8em;
}

.navigation__scroll {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background-image: linear-gradient(to bottom, black, transparent);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.navigation__nav {
  max-width: 120em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__logo--img {
  width: 25em;
  padding-top: .5em;
}

.navigation__list {
  list-style: none;
  margin: 2em;
}

.navigation__item {
  position: relative;
  display: inline;
  padding: 1em;
  margin-right: 2em;
}

.navigation__link, .navigation:link, .navigation:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Exo';
}

.navigation__link::after, .navigation:link::after, .navigation:visited::after {
  content: "";
  position: absolute;
  bottom: -.1em;
  left: 0;
  width: 0%;
  height: .1em;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #FEE715FF;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:hover::after, .navigation:link:hover::after, .navigation:visited:hover::after {
  width: 100%;
}

.navigation__burger {
  display: none;
}

#menu_checkbox {
  display: none;
}

.burger__label {
  display: block;
  width: 3em;
  height: 3em;
  margin: 2em;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  z-index: 999;
}

.burger__label:hover.burger__label div:nth-child(2) {
  right: 0;
  width: 3em;
  background-color: #FEE715FF;
}

.burger__label::before {
  content: '';
  position: fixed;
  -webkit-transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

.burger__label div {
  position: relative;
  top: 0;
  height: .3em;
  background-color: #ffffff;
  margin-bottom: .8em;
  -webkit-transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 2px;
}

.burger__label div:first-child {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.burger__label div:last-child {
  margin-bottom: 0;
  -webkit-transform-origin: .6em;
          transform-origin: .6em;
}

.burger__label div:nth-child(2) {
  right: 0;
  width: 2em;
}

#menu_checkbox:checked + .burger__label div:first-child {
  top: 0em;
  right: .6em;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#menu_checkbox:checked + .burger__label div:last-child {
  top: -.6em;
  left: .4em;
  -webkit-transform: rotateZ(44deg);
          transform: rotateZ(44deg);
  width: 2em;
}

#menu_checkbox:checked + .burger__label div:nth-child(2) {
  width: 3.8em;
  top: .2em;
  right: 1.4em;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.respon__nav {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#2B2C42), to(#000000));
  background-image: linear-gradient(to left, #2B2C42, #000000);
  position: fixed;
  top: 0;
  left: 0;
}

.respon__nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.respon__nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  height: 100vh;
}

.respon__nav__right {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.respon__nav__list {
  list-style: none;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 2em;
  font-family: 'Exo';
}

.respon__nav__item {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: right;
}

.respon__nav__link, .respon__nav:link, .respon__nav:visited {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: .5em 0;
  z-index: 10;
}

.respon__nav__link:hover, .respon__nav:link:hover, .respon__nav:visited:hover {
  color: black;
}

.respon__nav__link::after, .respon__nav:link::after, .respon__nav:visited::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #FEE715FF;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.respon__nav__link:hover::after, .respon__nav:link:hover::after, .respon__nav:visited:hover::after {
  width: 110%;
}

@media (max-width: 700px) {
  .navigation__list {
    display: none;
  }
  .navigation__burger {
    display: block;
  }
  .navigation__logo--img {
    width: 20em;
  }
}

@media (max-width: 460px) {
  .respon__left {
    width: 0;
  }
  .respon__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .respon__item {
    text-align: center;
    margin-top: 3em;
  }
}

.footer {
  background-image: -webkit-gradient(linear, right top, left top, from(#2B2C42), to(#000000));
  background-image: linear-gradient(to left, #2B2C42, #000000);
  color: #ffffff;
  padding: 5em;
}

.footer__container {
  max-width: 120em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__contact .footer__header {
  font-size: 2rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.footer__audo-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__audiolevel {
  text-align: right;
}

.footer__audiolevel-img {
  max-width: 80%;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
}

.footer__icon {
  font-size: 3.5rem;
  margin: .25em;
}

.footer__text {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

.footer__text-container {
  max-width: 80%;
}

.footer a {
  color: #ffffff;
}

@media (max-width: 700px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__audio-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2em;
  }
  .footer__audiolevel {
    text-align: center;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .footer__icon {
    margin: 1em .25em 0;
    font-size: 2.5rem;
  }
  .footer__audiolevel-img {
    max-width: 60%;
    margin-top: 1.7em;
  }
  .footer__contact {
    text-align: center;
    padding: 0 2.5em 1em;
    border-bottom: solid 0.2em #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */