
.section__audio__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31em, 1fr));
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    position: relative;
}

.card {
    height: 18em;
    width: 25em;
    display: block;
    margin: 8em 0;
    position: relative;
    border-radius: 1em;


    &__bottom {
        height: 18em;
        width: 24em;
        position: absolute;
        top: 0;
        left: .5em;
        background-color: black;
        transition: all .5s ease;
        border-radius: 1em 1em 20em 20em;
    }

    &__top {
        height: 18em;
        width: 25em;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2d3033;
        transition: all .5s ease;
        border-radius: 1em ;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    &__top-thumbnail {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: all .3s;
    }

    &__button {
        border: transparent;
        background: transparent;
        cursor: pointer;
        margin-bottom: .5em;
        text-transform: uppercase;
        color: $color-white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all .3s;
        outline: none;

        i {
           margin-bottom: .15em;
           font-size: 2rem; 
        }

        &:hover   {
            transform: scale(1.2);
            color: $color-primary;

            i {
                color: color-primary;
                font-size: 2.1rem;
    
            }
        }

        
    }

    &__img {
        height: 100%;
       width: 100%;
        object-fit: fill;
       border-radius: 1em;
    }
}

.whiteCircle {
    position: relative;
    top: -.25em;
    height: 50%;
    width: 40%;
    border-radius: 100%;
    background-color: whitesmoke;
}

.card:hover .card__bottom {
    position: absolute;
    top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover .card__top {
    position: absolute;
    top: -10rem;
    border-radius: 1em 1em 0 0;
}

//Audio 2
.section__audio2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    border: solid 1px ;
    width: 40%;
    background-color: rgb(0, 0, 0);
    border-radius: 1.5em;
    box-shadow: 0 1em 1em 0 rgba(1, 1, 1, .5);
    display: flex;
    padding: 2em 3em;
    position: relative;
    margin: 10em auto;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 11em;
    
}

.img-container::after{
    content: '';
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 1em;
    height: 1em;
    transform: translate(-50%, -50%);
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 11em;
    width: inherit;
    position: absolute;
    bottom: -1em;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

.audio-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
   margin: 0 auto;
}

.action-btn {
    background-color: black;
    border: none;
    padding: .5em;
    margin: 0 .5em;
    font-size: 2rem;
    color: $color-primary;
    outline: none;
    cursor: pointer;
}

.action-btn.action-btn-big {
    font-size: 3rem;
}

.music-info {
    background-color: #313131;
    color: $color-primary;
    border-radius: 1.5em 1.5em 0 0 ;
    position: absolute;
    top: 0;
    left: 1em;
    width: calc(100% - 4em);
    height: 4em;
    padding: 1em;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-info #title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background: $color-white;
    border-radius: .5em;
    cursor: pointer;
    margin: 1em auto;
    height: .4em;
    width: 65%;
    position: absolute;
    right: 1em;
    top: 3em;
}

.audioProgress {
    background-color: $color-primary;
    border-radius: .5em;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

