

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.screen {
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    background-color: #000 !important;
    border-radius: 1em 1em 0 0;
    padding: 1em;
}

.controls {
    width: 70%;
    background-color: #333;
    color: $color-white;
    border-radius: 0 0 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

    &__btn {
        border: 0;
        background: transparent;
        cursor: pointer;
        margin: .5em;

        &:focus {
            outline: 0;
        }
    }

    .fa-play {
        color: #28a745;
    }

    .fa-stop {
        color: #dc3545;
    }

    .fa-pause {
        color: $color-white;
    }

    .timestamp {
        color: $color-white;
        font-weight: bold;
        margin-left: 1em;
    }
}

.thumbNails {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(17em, 12.5em));
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    height: 15em;
    margin: 5em auto;
    border-radius: 1em;
    // border: solid red;
    grid-column: 2 / 6;
    grid-row: 2/3;
}

.thumbNail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   height: 100%;
   position: relative;
   
}


.thumbNamilScreen {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em; 
    transition: all .5s ease;
    
}

.thumbNail-container:hover{
    cursor: pointer;
    
    .thumbnail-play {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: $color-primary;
        z-index: 5;
        opacity: 1;
        transition: .5s ease;
    }
}

.thumbnail-play {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: $color-primary;
    z-index: 10;
    opacity: 0;
}



@media(max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
    .thumbNails {
        margin: 2em auto;
        height: 12em;
    }
}

@media(max-width: 1120px) {

}

