body {
    font-size: 1rem;
    font-family: lato, sans-serif;
    font-weight: 300;
    line-height: 1.4em;
}

.header {
    &__primary-heading {
        max-width: 5em;
       padding: .2em;
       line-height: 16rem;
       letter-spacing: -.1rem;
       font-size:17rem;
       font-family: anton;
       text-transform: uppercase;
      background: url(Images/MainLogo2.jpg);
       background-position: -20px;
       display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

}

.secondary-heading {
    font-size: 4rem;
    font-family: anton;
    text-transform: uppercase;
   
}

.paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
}

.card-text {
    color: white;
    text-align: center;
}

@media(max-width:800px) {
    .header__primary-heading {
        font-size: 15rem;
        line-height: 14rem;
    }
}

@media(max-width: 700px) {
    .header__img {
        display: none;
    }
}

@media(max-width:400px) {
    .header__primary-heading {
        font-size: 12rem;
        line-height: 11rem;
        background: url(/Images/MainLogo2.jpg);
       background-position: -30px;
       display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

