


$color-primary: #FEE715FF;
$color-secondary:#8D98AE;
$color-teritary:#2B2C42;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #434343;
$color-light-grey-2: #eee;
$color-grey-light-1: #f7f7f7;


